<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90680653-2"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Submit New</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link th:href="@{/css/theme.css}" rel="stylesheet" />
    <style>
        table {
            width: 100%;
        }

        td:first-child {
            width: 250px;
            /* background-color: #32a852; */
        }

        td:nth-child(2) {
            /* background-color: #aaaaaa; */
        }

        td:last-child {
            /* background-color: #5696c7; */
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-left">
                <a th:href="@{/home}" class="logo"><span></span>G1T2</a>
                <!-- <a href="" id="azMenuShow" class="header-menu-icon d-lg-none"><span></span></a> -->
            </div>
            <!-- add header-left if needed-->
            <div class="header-menu">
                <ul class="nav">
                    <!-- <li class="nav-item active">
                <a th:href="@{/home}" class="nav-link"><i class="typcn typcn-chart-area-outline"></i>Home</a>
              </li> -->
                    <li class="nav-item active">
                        <a th:href="@{/submitNew}" class="nav-link"><i class="typcn typcn-document-add"></i>Submit
                            Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/header}" class="nav-link"><i class="typcn typcn-edit"></i>Submit Field
                            Mapping</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/settings}" class="nav-link"><i class="typcn typcn-edit"></i>Settings</a>
                    </li>
                </ul>
            </div><!-- header-menu -->
            <div class="dropdown profile-menu">
                <p class="text-center"><a th:href="@{/logout}">Sign out</a></p>
            </div>

        </div><!-- container -->
    </div><!-- header -->
    <div class="loader" , style="display: none;"></div>
    <div class="content content-dashboard">
        <div class="container">
            <div class="content-body">
                <div class="dashboard-one-title">
                    <div>
                        <h3>Submit New Transactions</h3>
                        <!-- <p class="dashboard-text">Your one-stop remittance portal.</p> -->
                    </div>

                </div><!-- dashboard-one-title -->

                <div class="dashboard-nav">
                </div>


                <div class="row row-sm mg-b-20">
                    <div class="col-lg-7 col-xl-12 mg-t-20 mg-lg-t-0">
                        <div class="card card-table-one">
                            <div class="alert alert-success" role="alert" th:if="${msg2}" th:utext="${msg2}"></div>
                            <div class="alert alert-danger" role="alert" th:if="${msg3}" th:utext="${msg3}"></div>

                            <form method="POST" enctype="multipart/form-data" th:action="@{/submitNew}"
                                onsubmit="return Loading()">
                                <table class="table-borderless">
                                    <tr>
                                        <td>
                                            <h6 class="card-title">Country:</h6>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-gray-700" type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Select Country
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">China</a>
                                                    <a class="dropdown-item" href="#">Vietnam</a>
                                                    <a class="dropdown-item" href="#">Singapore</a>
                                                </div>
                                            </div>


                                    <tr>
                                    <tr>
                                        <td>
                                            <h6 class="card-title">File to upload:</h6>
                                        </td>
                                        <td>
                                            <div class="upload-btn-wrapper">
                                                <!-- class="btn-custom" -->
                                                <input type="file" name="file"
                                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"></input>
                                            </div>
                                    <tr>
                                        <td>

                                        </td>
                                        <td><button type="submit" value="Upload" class="btn btn-gray-700"
                                                style="width:200px; ">
                                                Upload Transactions
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </form>
                            <form method="POST" th:action="@{/sendTransaction}" th:if="${status}"
                                onsubmit="return Loading()">
                                <table class="table-borderless">
                                    <tr>
                                        <td>
                                            <h6 class="card-title"> Transactions</h6>
                                            <p class="content-text mg-b-20">Please check your transactions.</p>
                                        </td>
                                        <td><input type="submit" value="Send" class="btn btn-gray-700"
                                                style="width:200px; " /></td>
                                    </tr>
                                </table>
                            </form>


                            <div class="table-responsive">
                                <table class="table table-striped" th:if="${status}">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <div
                                                th:each="fieldName : ${transactions[0].getJsonNodeArgsInfo().fieldNames()}">
                                                <th scope="col" th:text="${fieldName}"></th>
                                            </div>
                                        </tr>
                                    </thead>
                                    <tr th:each="transaction, i: ${transactions}">
                                        <th scope="row" th:text="${i.index + 1}"></th>
                                        <div th:each="fieldName : ${transaction.getJsonNodeArgsInfo().fieldNames()}">
                                            <td th:text="${transaction.getJsonNodeArgsInfo().get(fieldName)}"></td>
                                        </div>
                                    </tr>
                                </table>
                            </div><!-- table-responsive -->
                        </div><!-- card -->
                    </div><!-- col-lg -->
                    <div class="content-label mg-b-5"><span th:utext="${msg}"></span></div>

                </div>

            </div><!-- card-dashboard-four -->
        </div>
        <!--col -->
    </div><!-- row -->

    </div><!-- content-body -->
    </div>
    </div><!-- content -->
    </div>

    <div class="footer ht-40">
        <div class="container ht-100p pd-t-0-f">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © g1t2.com</span>
        </div><!-- container -->
    </div><!-- footer -->

    <script>


        function Loading() {
            $(".loader").show();
            return true;
        }

        $(window).bind("load", function () {
            $(".loader").fadeOut("slow");
        })

        $(".dropdown-menu a").click(function () {
            $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
            $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        });

    </script>

    <script th:inline="javascript">
        window.onload = function checkSsotNum() {
            // /*<![CDATA[*/
            var fields = /*[[${session.noOfFields}]]*/ 'default';
            var ssots = /*[[${session.noOfSsots}]]*/ 'default';

            if (parseInt(fields) < parseInt(ssots)) {
                alert("You haven't mapped your fields to SSOTs or a new SSOT has been added.")
            }
        }
    </script>

</body>

</html>